argcomplete==1.1.0
argh==0.26.2
bottle==0.12.10
codalab-cli==0.2.5
editdistance==0.3.1
joblib==0.10.3
lxml==3.6.4
mercurial==4.2
nltk==3.2.2
Paste==2.0.3
pathtools==0.1.2
psutil==3.3.0
py==1.4.32
pytest==3.0.5
python-dateutil==2.5.3
PyYAML==3.11
six==1.10.0
SQLAlchemy==1.0.8
virtualenv==15.1.0
watchdog==0.8.3
